.background-color {
  background-color: black;
}

.text-color {
  color: #00ff01
}

.list-border {
  border-style: solid;
  border-color: #00ff01;
  border-width: 3px;
}

.button-one {
  padding: 1px 1px;
  color: #00ff01
}

.button-one:hover {
  background-color: #00ff01;
  color: black;
}

.padding-bottom {
  padding-bottom: 15px;
}