.background-color {
  background-color: black;
}

.button-one {
  padding: 1px 1px;
}

.button-two {
  padding: 1px 1px;
}

.padding-bottom {
  padding-bottom: 15px;
}

.grid-item { width: 22%; }

.gutter-sizer { width: 4%; }

.grid-item--width2 { width: 48%; }